<BsNavbar
        @type="dark"
        @backgroundColor="dark"
        @collapsed={{true}} as |navbar|>
  <div class="navbar-header">
    {{#link-to "chat" class="navbar-brand"}}Chat{{/link-to}}
  </div>
  <navbar.content>
    <navbar.nav as |nav|>
      {{#if this.session.isAuthenticated}}
        <nav.item>
          <div class="notification_icon">
            <span>
              <img src="assets/images/notification_icon.png" alt="Notifications"/>
            </span>
            <span>
              <div class="notification_count" style="width: {{this.userStatus.notificationStatusWidth}}"><p>
                {{this.userStatus.newNotifications}}
              </p></div>
            </span>
          </div>
        </nav.item>
        <nav.item>
          <button class="btn btn-default text-light" {{on "click" this.logout}}>Logout</button>
        </nav.item>
      {{else}}
        <nav.item>
          <nav.link-to @route="login">Login</nav.link-to>
        </nav.item>
        <nav.item>
          <nav.link-to @route="registration">Registration</nav.link-to>
        </nav.item>
      {{/if}}
    </navbar.nav>
  </navbar.content>
  <div class="current_time" {{did-insert this.currentTimeFunction}}>{{this.currentTime}}</div>
</BsNavbar>

{{yield}}