<div class="col-9 chat-messages">
  <div {{did-insert this.loadMessages}} class="messages-content">
    {{#each this.messages as |message|}}
      <Chat::SingleMessage::SingleMessage @message={{message}}
                                          @currentUserUid={{this.currentUserUid}}
                                          @newMessageMark={{this.newMessageMark}}
                                          @defaultColor={{this.defaultColor}}
                                          @newColor={{this.newColor}} />
    {{/each}}
  </div>
  <Chat::MessageBox/>
</div>


{{yield}}