{{#if (eq @currentUserUid @message.userUid)}}
  <Chat::SelfMessage::SelfMessage @message={{@message}}/>
{{else}}
  <div class="user-message" style="color: {{this.messageColor}}" {{did-insert this.checkIfNewMessage}}>
    {{#if @message.isReply}}
      <div class="reply_message">
        <p>{{@message.replyMessage}}</p>
      </div>
    {{/if}}
    <div class="username">{{@message.email}}</div>
    <div class="new_message_mark">{{this.messageMark}}</div>
    <div class="message_content">{{@message.content}}</div>
    <div class="date_and_time">
      {{@message.more}} {{@message.dateAndTime}}
    </div>
    <div class="side_box_actions">
      <div class="likes_count">
        <p onmouseover={{action this.showUsersWhoLikedTheMessage true}}
           onmouseout={{action this.showUsersWhoLikedTheMessage false}}>{{this.likesCount}}</p>
      </div>
      {{#if this.isLikeButtonPressed}}
        <div class="like_button">
          <img src="assets/images/like_icon_pressed.png" alt="Like" {{on "click" this.addLike}}/>
        </div>
      {{else}}
        <div class="like_button">
          <img src="assets/images/like_icon.png" alt="Like" {{on "click" this.addLike}}/>
        </div>
      {{/if}}
      <div class="reply_button">
        <img src="assets/images/reply_icon.png" alt="Reply" {{on "click" this.replyToMessage}}/>
      </div>
      {{#if this.showUsersLiked}}
        <div class="list_of_liked">
          {{#each @message.likedBy as |user|}}
            <p>{{user}}</p>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}

{{yield}}
